In [18]:
# Names of girls
print("THE FORMAT IN TABULAR FORM")

girls ={'Names ': ['   Age'+' Height '+'    Scores'],
'Evelyn   ':[' 17'+'  5.5 '+'         80'], 
'Jessica  ':[' 16'+'  6.0 '+'         85'],
'Somoto   ':[' 17'+'  5.4 '+'         70'],
'Edith    ':[' 20'+'  6.0'+'          60'],
'Liza     ':[' 18'+'  5.9'+'          76'],
'Madonna ': ['  16'+'  5.6 '+'         66'],
'Waje    ': ['  18'+'  5.5'+'          87'],
'Tola    ': ['  17'+'  6.1   '+'       95'],
'Aisha    ':[' 19'+'  5.7   '+'       50'],
'Latifa   ':[' 17'+'  5.5   '+'       49'] } 

boys={'Names ': ['  Age '+' Height '+'    Scores'],
'Chinedu':[' 19  '+'  5.7   '+'            74'], 
' Liam':['   16'+'    5.9'+'               87'],
' Wale':['   18'+'    5.8 '+'              75'],
' Gbenga':[' 17  '+'  6.1  '+'             68'],
'Abiola':['  20 '+'   5.9 '+'              66'],
' Kola': ['   19  '+'  5.5  '+'             78'],
' Kunle': ['  16   '+' 6.1   '+'            87'],
' George': [' 18    '+'5.4       '+'        98'],
' Thomas':[' 17  '+'  5.8    '+'           54'],
' Wesley':[' 17  '+'  5.7    '+'           60'] } 

for p in girls:
    print(p, girls[p])
print("\n")

for p in boys:
    print(p,boys[p])

THE FORMAT IN TABULAR FORM
Names  ['   Age Height     Scores']
Evelyn    [' 17  5.5          80']
Jessica   [' 16  6.0          85']
Somoto    [' 17  5.4          70']
Edith     [' 20  6.0          60']
Liza      [' 18  5.9          76']
Madonna  ['  16  5.6          66']
Waje     ['  18  5.5          87']
Tola     ['  17  6.1          95']
Aisha     [' 19  5.7          50']
Latifa    [' 17  5.5          49']


Names  ['  Age  Height     Scores']
Chinedu [' 19    5.7               74']
 Liam ['   16    5.9               87']
 Wale ['   18    5.8               75']
 Gbenga [' 17    6.1               68']
Abiola ['  20    5.9               66']
 Kola ['   19    5.5               78']
 Kunle ['  16    6.1               87']
 George [' 18    5.4               98']
 Thomas [' 17    5.8               54']
 Wesley [' 17    5.7               60']

In [1]:
experience = int(input("Enter years of experience: "))
age = int(input("Enter age: "))

if experience > 25 and age >= 55:
    atr = 5600000
elif experience > 20 and age >= 45:
    atr = 4480000
elif experience > 10 and age >= 35:
    atr = 1500000
else:
    atr = 550000

print(f"The Annual Tax Revenue (ATR) is: N{atr}")